body, html {
  height: 100%;
  margin: 0;
  font-family: 'VT323', monospace;

}

#fade{
	/*display: none;*/
	animation: fadeIn 3s forwards;
}

@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.bg {
  /* The image used */
  background-image: url("images/poke_main.jpg");

  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg1{
	/* The image used */
  background-image: url("https://i.ytimg.com/vi/6ZyEwWdxeVY/maxresdefault.jpg");

  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.pokemon{
  background-image: url("images/start_point.jpg");
  height: 2200px; 
  width: 2200px;
  background-repeat: repeat;
  background-size: cover;
}

.start{
	padding-top: 38%;
	padding-left: 42%;
}

/*.backgrounnd a img:hover{
	background-image: url("https://cdn-images-1.medium.com/max/2000/0*ZLujw1b18CnMFxFa.jpg");
}	*/


.title{
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}

.stats {
    display: inline-block;
}

#mycard{
	background-color: transparent;
	border: none;
}

.bulbasaur{
	position: relative;
	display: inline-block;
	opacity: 0;
	top: 350px;
	left: 1400px;
}

.bul{
	position: relative;
	opacity: 1;
	top: 350px;
	left: 1400px;
	display: inline-block;
}

.charmander{
	position: relative;
	opacity: 0;
	top: 100px;
	left: 350px;
	display: inline-block;
}

.charm{
	position: relative;	
	top: 100px;
	left: 350px;
	opacity: 1;
	display: inline-block;
}

.Squirtle{
	position: relative;
	left: 1600px;
	top: 1600px;
	opacity: 0;
	display: inline-block;
}

.Squir{
	position: relative;
	left: 1600px;
	top: 1600px;
	opacity: 1;
	display: inline-block;
}

@media only screen and (max-width: 600px){
	.start{

		padding-top: 100%;
		padding-left: 23%;
	}
}
@media only screen and (max-width: 990px ){
	.start{

		padding-top: 50%;
		padding-left: 33%;
	}
}

